.wave-group {
    position: relative;
  }
  label{
    cursor: pointer;
  }
  .color-oder{
    background-color: #ffff;
  
  }
  .bg-fafa{
    background-color: #fafafa;
  }
  textarea{
    min-height: 50px;
  }