@import '../../scss/Golobal.scss';

section {
    color: var(--color-text);
    margin-top: 170px;
    .content-home {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 50px;
      .title {
        font-size: 6.5rem;
        font-weight: bold;
        position: relative;
        div {
          display: flex;
          margin: 20px 0;
          img {
            width: 150px;
          }
        }
        p > img {
          width: 50px;
        }
        
      }
      .title-text {
        margin-top: 30px;
        line-height: 2;
        color: $gray;
        button {
          margin-top: 30px;
          color: #fff;
          width: 200px;
          height: 40px;
          background-color: #1e50ff;
          border-radius: 5px;
          position: relative;
          overflow: hidden;
          @include buttom();
        }
      }
    }
    .content-image {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 20px;
      margin-top: 60px;
      position: relative;
      .image-item {
        height: 420px;
      }
      img {
        width: 100%;
        height: 100%;
      }
      &::before {
        content: "";
        width: 108%;
        left: -25px;
        top: 10%;
        left: -4%;
        height: 300px;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        border-top: 1px solid transparent;
        border-bottom: 2px solid #fff;
        border-radius: 50%;
        position: absolute;
        z-index: 9;
      }
      &::after {
        content: "";
        width: 100%;
        top: 10%;
        right: 0;
        height: 300px;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        border-top: 2px solid #fff;
        border-bottom: 2px solid transparent;
        border-radius: 50%;
        position: absolute;
        z-index: -1;
      }
    }
  
    @include media(987px) {
      .content-home {
        grid-template-columns: auto;
        text-align: center;
      }
      .title {
        font-size: 6.5rem;
        &::after {
          left: 200px !important;
        }
      }
      .content-image {
        .image-item {
          height: 220px;
        }
        &::after {
          top: 20%;
        }
        &::before {
          left: -5%;
          top: -50%;
          width: 110%;
        }
      }
    }
    @include media(689px) {
      .content-home {
        grid-template-columns: auto;
        text-align: start;
      }
      .title {
        font-size: 4.5rem !important;
      }
    }
  }
  @include media(1028px) {
    section {
      margin-top: 60px;
    }
  }